

body{
  background-color: #d1eaa3;
  font-family: Croissant One;
}

hr{
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h1{
  text-transform: capitalize;
  color: #6a097d;
  text-shadow: 3px 3px 6px #0a97b0;
}

h3{
  color: #0a97b0;
}

a{
  text-decoration: none;
}

input::placeholder{
  color: #0a97b0;
  font-style: italic;
  font-variant: small-caps;
}
